[submodule "pensieve"]
	path = pensieve
	url = https://github.com/hongzimao/pensieve.git
[submodule "mpeg-pcc-tmc2"]
	path = mpeg-pcc-tmc2
	url = https://github.com/MPEGGroup/mpeg-pcc-tmc2.git
[submodule "dash.js"]
	path = dash.js
	url = https://github.com/Dash-Industry-Forum/dash.js.git
